---
{{ ansible_managed | comment }}

name: "Dependabot Merge"

on:
  pull_request:
  pull_request_target:

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: ${% raw %}{{ github.ref }}-${{ github.workflow }}{% endraw %}

  cancel-in-progress: true


jobs:
  dependabot_merge:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@master"
      - name: Dependabot Auto Merge Action
        uses: buluma/dependabot-auto-merge-action@v2.1.2
