---
image: "{{ gitlab_container }}"

variables:
  PY_COLORS: 1

molecule:
  script:
    - molecule test
  rules:
    - if: $CI_COMMIT_REF_NAME == "master"
  allow_failure: true
  parallel:
    matrix:
{% for platform in meta.galaxy_info.platforms %}
{% for version in platform.versions %}
{% for tag in distribution_version_mapping[platform.name][version] %}
      - image: "{{ platform_image_mapping[platform.name] }}"
        tag: "{{ tag }}"
{% endfor %}
{% endfor %}
{% endfor %}

galaxy:
  script:
    - ansible-galaxy role import --api-key ${GALAXY_API_KEY} {{ galaxy_namespace }} ${CI_PROJECT_NAME}
  rules:
    - if: $CI_COMMIT_TAG != null
