---
{{ ansible_managed | comment }}

name: Ansible Molecule

on:
  push:
    branches:
      - master
      - main
      - testing
      - dependabot/**
      # - renovate/**
    paths-ignore:
      - '**/README.md'
      - '**/CHANGELOG.md'
    tags_ignore:
      - '*'
  pull_request:
  pull_request_target:
  schedule:
    # - cron: '{{ letter_minute_mapping[role_name[0]] }} {{ letter_hour_mapping[role_name[0]] }} {{ letter_day_mapping[role_name[0]] }} * *'
    - cron: '{{ letter_minute_mapping[role_name[0]] }} {{ letter_hour_mapping[role_name[0]] }} * * *'

  workflow_dispatch:

permissions: write-all

concurrency:
  group: {% raw %}${{ github.ref }}-${{ github.workflow }}{% endraw %}

  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: ansible-lint
        uses: ansible-community/ansible-lint-action@main
  test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        config:
{% for platform in meta.galaxy_info.platforms %}
{% for version in platform.versions %}
{% for tag in distribution_version_mapping[platform.name][version] %}
          - image: "{{ platform_image_mapping[platform.name] }}"
            tag: "{{ tag }}"
{% endfor %}
{% endfor %}
{% endfor %}
    steps:
      - name: Checkout Role
        uses: actions/checkout@v4
        with:
          path: {% raw %}"${{ github.repository }}"{% endraw %}

      - name: Running Molecule Test
        uses: {{ molecule_action }}
        with:
          image: {% raw %}${{ matrix.config.image }}{% endraw %}

          tag: {% raw %}${{ matrix.config.tag }}{% endraw %}

{% if github_variables_mapping is defined %}
        env:
{% for item in github_variables_mapping %}
          {{ item.variable }}: {% raw %}${{ {%endraw %}{{ item.name }} {% raw %}}}{% endraw %}
{% endfor %}
{% endif %}

  dependabot:
    needs:
      - lint
      - test
    runs-on: ubuntu-20.04
    if: ${% raw %}{{ github.actor == 'dependabot[bot]' || github.actor == 'buluma' && github.event_name == 'pull_request'}}{% endraw %}

    steps:
      - uses: "actions/checkout@master"
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: ${% raw %}{{ secrets.GITHUB_TOKEN }}{% endraw %}

      - name: Approve a PR
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${% raw %}{{github.event.pull_request.html_url}}{% endraw %}

          GITHUB_TOKEN: ${% raw %}{{ secrets.GITHUB_TOKEN }}{% endraw %}

      - name: "Merge Dependabot PR"
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${% raw %}{{github.event.pull_request.html_url}}{% endraw %}

          GITHUB_TOKEN: ${% raw %}{{ secrets.GITHUB_TOKEN }}{% endraw %}
