---
image: "buluma/github-action-molecule:4.0.9"

services:
  - docker:dind

variables:
  DOCKER_HOST: "tcp://docker:2375"
  PY_COLORS: 1

molecule:
  stage: build
  allow_failure: true
  script:
    # - image=${image} tag=${tag} molecule test
    - if [ -f tox.ini ] ; then tox ; fi
    - if [ ! -f tox.ini ; then molecule test ; fi
  retry: 1
  parallel:
    matrix:
{% for platform in meta.galaxy_info.platforms %}
{% for version in platform.versions %}
{% for tag in distribution_version_mapping[platform.name][version] %}
      - image: "{{ platform_image_mapping[platform.name] }}"
        tag: "{{ tag }}"
{% endfor %}
{% endfor %}
{% endfor %}

testing:
  stage: test
  needs: []
  script:
    - image=${image} tag=${tag} molecule test
  rules:
    - if: $CI_COMMIT_REF_NAME == "testing"
  retry: 1
  parallel:
    matrix:
{% for platform in meta.galaxy_info.platforms %}
{% for version in platform.versions %}
{% for tag in distribution_version_mapping[platform.name][version] %}
      - image: "{{ platform_image_mapping[platform.name] }}"
        tag: "{{ tag }}"
{% endfor %}
{% endfor %}
{% endfor %}

galaxy:
  stage: deploy
  needs: []
  script:
    - ansible-galaxy role info {{ github_namespace }}.{{ role_name }}

role_testing:
  stage: test
  needs: []
  script:
    - image=${image} tag=${tag} ansible-galaxy install {{ github_namespace }}.{{ role_name }}
  retry: 1
  parallel:
    matrix:
{% for platform in meta.galaxy_info.platforms %}
{% for version in platform.versions %}
{% for tag in distribution_version_mapping[platform.name][version] %}
      - image: "{{ platform_image_mapping[platform.name] }}"
        tag: "{{ tag }}"
{% endfor %}
{% endfor %}
{% endfor %}

release_job:
  stage: .post
  needs: [molecule]
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - echo "Running the release job."
  release:
    tag_name: $CI_COMMIT_TAG
    name: 'Release $CI_COMMIT_TAG'
    description: 'Release created using the release-cli.'
  artifacts:
    name: "$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - /
    expire_in: 1 day
