---
{{ ansible_managed | comment }}

name: "TODO 2 Issue"

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - '**/README.md'
      - '**/CHANGELOG.md'
    tags_ignore:
      - '*'

permissions: write-all

concurrency:
  group: {% raw %}${{ github.ref }}-${{ github.workflow }}{% endraw %}

  cancel-in-progress: true

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"
      - name: "TODO to Issue"
        uses: "buluma/todo-to-issue-action@v2.0.2"
        id: "todo"
        with:
          TOKEN: ${% raw %}{{ secrets.GITHUB_TOKEN }}{% endraw %}
